
/* RESET */

html,body{margin:0;padding:0} div,section,header,footer,nav{display:block;box-sizing:border-box;float:left;width:100%;position:relative;}

/* ~~~~~~~~STYLE~~~~~~~~ */

body{
    background: #ffffff;
}

/* NAVBAR */

.primary-menu-item{
    float: right;
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
    text-align: center;
}

.secondary-menu{
    float: none;
    list-style: none;
    overflow: hidden;
    margin: 40px 0 0 0;
    padding: 0;
    width: 145px;
    text-align: center;
    height: 0;
    position: absolute;
    z-index: 50;
    border-top: 3px color: #a591ca solid;
    border-radius: 3px;

    -webkit-transition: height .3s ease-in;
    -moz-transition: height .3s ease-in;
    -ms-transition: height .3s ease-in;
    -o-transition: height .3s ease-in;
    transition: height .3s ease-in;
}

.navOption:hover + .secondary-menu{
    height: 170px;
}

.secondary-menu:hover{
    height: 170px;
}

.secondary-menu-item{
    padding: 5px 15px 5px 15px;
    background: white;
    color: #cc99ff;
    border-bottom: 2px #ccc solid;
}

.secondary-menu-item a:hover{
    color: #ccccff;
}

.top{
    border-top: 5px #ccccff solid;
}

.secondary-menu a{
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    color: #aa98cd;
    transition: 100ms;
}
.fa-heart{
    margin-right: 2px;
    font-size: 20px;
    padding: 0;
}
.boldItem{
    font-weight: bold;
}
.moveMenuLeft{
    margin-left: -50px;
}

/*  */
/*  */

#navbar{
    box-sizing: border-box;
    float: none;
    width: 100%;
    height: 50px;
    background: #ffffff;
    position: fixed;
    z-index: 10000;
}
#logo{
    width:15%;
    padding-left: 5px;
}
#logoGraphic{
    height: 50px;
    width: 50px;
}
.navOption{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 12px 20px 0 0;
    float: right;
    //color: #c7bade;
    font-size: 20px;
    transition: 150ms;
}

.navOption a{
    text-decoration: none;
    color: #c7bade;
}
.navOption a:hover{
    cursor: pointer;
    color: #e3ddee;
}


/* END NAVBAR */

/* MAIN */

.3rdstshelter{
    width:100%;
    margin: 0 auto;
    float:none;
    overflow-y:hidden;
    padding-top: 50px;
}

.missionRow{
    padding: 0;
}
.missionRow::after{
    background-image: url("../img/exterior.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.projectsRow{
    padding: 0;
}
.projectsRow::after{
    background-image: url("../img/window.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.container{
    box-sizing: border-box;
    max width: 500px;
    padding-left: 20%;
    padding-right: 20%;
}
h1{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 60px;
    color: #ffffff;
    display: block;
}
h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    display: block;
}
.donateButton{
    width: 100px;
    height: 50px;
    background-color: #e6e6ff;
    margin: 0 auto;
    border-radius: 5px;
    float: none;
    margin-bottom: 5%;
    transition: 200ms;
}
.donateText{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    position: absolute;
    top: 27%;
}
.donateButton:hover{
    cursor: pointer;
    background-color: #bbbbff;

}
h3{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 45px;
    color: #ffffff;
    display: block;
}
.textBox{
    background-color: #e6e6ff;
    border: 2px solid #c2c5d3;
    border-radius: 1px;
    margin-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
}
h4{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
.subContainer{
    margin-bottom: 15px;
}
.rowCaptionLeft{
    padding-right: 50%;
    background: #ffffff;
}
.rowPhotoRight{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rowCaptionRight{
    padding-Left: 50%;
    background: #ffffff;
    z-index: 90;
}
.rowPhotoLeft{
    width: 50%;
    position: absolute;
    right: 50%;
    top: 0px;
    height: 100%;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
.textContainer{
    padding: 5% 10% 5% 10%;
}
.projectCaption{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #000000;
    display: block;
    font-weight: bold;
}
/* TEXT ROW */
.textRow{
    padding: 0;
    /* background: #ffffff; */
}
.textRow:after{
    background-image: url("../img/downtown-troy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .1;
}
.textRowContainer{
    padding: 3% 15% 3% 15%
}
.textRowBox{
    background: #e6e6ff;
    padding: 2% 5% 2% 5%;
}
.bigText{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: 0;
}
/* STORIES */

.storiesRow{
    padding: 0;
    overflow: hidden;

}
.storiesRow::after{
    background: #ffffff;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.story{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    border: 2px solid #cccccc;
}
.story:hover{
    cursor: grab;
}
.storyCaptionLeft{
    padding-right: 50%;
    background: #e3ddee;
    font-size: 50px;
}
.storyPhotoRight{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.storyCaption{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 4% 5% 4% 5%;
    line-height: 30px;
}

/* SPACER */
.spacer{
    height: 70px;
}

/* Quilts */

.wrapper1 {
    /* position: relative; */
    width: 100%;
    /* overflow: hidden; */
}

.quiltphoto {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    height: 600px;
    width: 100%;
    background-image: url("../img/quilts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */
}

.quiltphoto>.container {
    padding: 200px 20px;
}

.quiltphoto h1{
    background-color: #b09cd2;
}

.divider {
    /* position: absolute;
    top: 600px;
    bottom: 0;
    left: 0;
    right:0; */
    width: 100%;
    height: 15px;
    background-image: url("../img/quilt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */

}

.quiltstory {

    width: 100%;
    height: 600px;
    background-color: #F5F3F2;
    padding: 5% 10%;
    /* z-index: 100; */
    /* position: absolute;
    top:615px;
    bottom: 0;
    right: 0; */

}

.quiltstory h3 {
    color: #bb97ce;
}

.story{

    font-family: 'Open Sans', sans-serif;
    border: 0px;
}

.quiltphoto2 {

    /* position: absolute;
    top: 1215px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; */
    background-image: url("../img/quilts2.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /* z-index: 1; */

}

/* HOUSING PROGRAM */

.housing {
    width: 100%;
}

.housingprogram {
    background-image: url("../img/212-washington.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

.housingprogram .container {
    padding: 200px 20px;
}

.successstory {
    width: 100%;
    height: 600px;
    background-color: #F5F3F2;
    /*padding: 5% 10%;*/
}
.successstory h3 {
    color: #bb97ce;
}







/* FOOTER */

.footer{
    background: #ccccff;
    padding: 10px;
    border-top: 5px #c2c5d3 solid;
}

.footerdiv{
    width: 33.33%;
    padding-left: 30px;
}

.footerdiv ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerdiv li{
    margin: 3px 0 3px 0;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}

.footerdiv li a{
    text-decoration: none;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}

.footerdiv li a:hover{
    color:#808080;
}

.footerdiv p{
    color: #ffffff;
    font-weight: bold;
    margin: 5px 0 5px 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.socialmedia{
    background: #9999ff;
    min-height: 20px;
    margin: 20px 0 20px 0;
    padding: 5px 50px 10px 5px;
}

i{
    padding: 5px;

}

.socialmedia a{
    float: right;
    text-decoration: none;
    text-align: center;
    color: #e6e6ff;
    font-size: 20px;
    margin: 5px 5px 0 5px;
    border: 2px #e6e6ff solid;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    transition: 100ms;
}

.socialmedia a:hover{
    color: #ffffff;
    border-color: #ffffff;
}

.socialmedia p{
    color: #e6e6ff;
    float: left;
    width: auto;
    margin: 13px 20px 0 50px;
    font-family: 'Nanum Gothic', sans-serif;
}

.emailform{
    float: left;
    margin-top: 5px;
}

.emailInput{
    width: 250px;
    height: 30px;
}

.emailButton{
    background: #ccccff;
    color: #000000
    border: none;
    margin-left: 10px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: 150ms;
    font-family: 'Nanum Gothic', sans-serif;
}
.emailButton:hover{
    cursor: pointer;
    background: #b3b3ff;
}


/*  */
/*  */
/*  */
/* About Us Page */
/*  */
/*  */
/*  */

.maincontainer{
    padding: 30px;
    font-family: 'Nanum Gothic', sans-serif;
}

.title, .subtitle, .subsubtitle{
    color: black;
}

#ourmission, #ourhistory, #ourteam, #ourboard, #contact{
    padding-top: 30px;
}

.subtitle{
    font-size: 35px;
}

.subsubtitle{
    font-size: 25px;
}

.infocontainer{
    width: 80%;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}

.infocontainer img{
    display: block;
    float: none;
    height: 220px;
    margin: 0 auto;
    max-width: 100%;

    -moz-transition: scale(1.1);
    -webkit-transition: scale(1.1);
    -o-transition: scale(1.1);
    -ms-transition: scale(1.1);
    transition: all .5s;
}

.infocontainerimage img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.2);
}

.imagecontainer{
    width: 25%;
    margin: 0;
}

.infocontainerimage{
    width: 50%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.rotate90{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.infocontainertext{
    width: 50%;
    margin: 0;
    background: #e6e6ff;
}

.firstp{
    margin: 14px 0 0 0;
}

.secondp{
    margin: 0;
    text-align: center;
    margin: 3px 0 3px 0;
}

.infocontainertext ul{
    margin: 0 auto;
    display: block;
}

.bridgestext{
    width: 33.33%;
    margin: 0;
    background: green;
}

.bridgesimage{
    height: 100%;
    width: 33.33%;
    margin: 0;
}

#ourhistory{

}

.history{
    background-image: url("../img/exterior1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 800px;
}

.teammember{
    float: none;
    margin: 0 auto;
    overflow-y: hidden;
}

.teaminfo{
    margin: 0;
    width: 75%;
    padding: 10px;
}

.teammember img{
    display: block;
    float: left;
    width: 100%;
}

.teammember p{
    text-align: left;
}

.name{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

hr{
    margin: 10px 0 10px 0;
}
