
/* RESET */

html,body{margin:0;padding:0} div,section,header,footer,nav{display:block;box-sizing:border-box;float:left;width:100%;position:relative;}

/* ~~~~~~~~STYLE~~~~~~~~ */

body{
    background: #ffffff;
}

/* NAVBAR */

.primary-menu-item{
    float: left;
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
    text-align: center;
}

.secondary-menu{
    float: none;
    list-style: none;
    overflow: hidden;
    margin: 40px 0 0 0;
    padding: 0;
    width: 145px;
    text-align: center;
    height: 0;
    position: absolute;
    top: 54px;
    z-index: 50;
    border-top: 3px color: #a591ca solid;
    border-radius: 3px;

    -webkit-transition: height .3s ease-in;
    -moz-transition: height .3s ease-in;
    -ms-transition: height .3s ease-in;
    -o-transition: height .3s ease-in;
    transition: height .3s ease-in;
}

/* .navOption:hover + .secondary-menu{
    height: 170px;
} */

.secondary-menu:hover{
    height: 170px;
}

.secondary-menu-item{
    padding: 5px 15px 5px 15px;
    background: white;
    color: #cc99ff;
    border-bottom: 2px #ccc solid;
}

.secondary-menu-item a:hover{
    color: #ccccff;
}

.top{
    border-top: 5px #ccccff solid;
}

.secondary-menu a{
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    color: #aa98cd;
    transition: 100ms;
}
.fa-heart{
    margin-right: 2px;
    font-size: 20px;
    padding: 0;
}
.boldItem{
    font-weight: bold;
}
.moveMenuLeft{
    left: -40px;
}

/*  */
/*  */

#navbar{
    box-sizing: border-box;
    float: none;
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 10000;
    background: #7f609e;
}
#logo{
    width:15%;
    padding-left: 5px;
}
#logoGraphic{
    height: 50px;
    width: 50px;
}
.navOption{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 12px 20px 0 0;
    float: right;
    font-size: 20px;
    transition: 150ms;
}

#navbar ul{
    margin: 0;
    padding: 0;
    float: right;
}

.hamburger{
    font-size: 42px;
    color: #c7bade;//420a70;
    margin-right: 10px;
    display: none;
}

.hamburger-item{
    float: right;
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
    text-align: center;
}

.navOption a{
    text-decoration: none;
    color: #c7bade;
}
.navOption a:hover{
    cursor: pointer;
    color: #e3ddee;
}

.popupRequest{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    padding: 0;
    position: fixed;

}

.popupBackground{
    background: #420a70;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 1000001;
}

.popupContent{
    opacity: 0;
    position: absolute;
    top: 30px;
    z-index: 1000002;
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.popupContent i{
    float: right;
    margin-right: 30px;;
}

.popupContent p{
    margin-top: 100px;
}

.popupContent button{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

.popupContent form{
    margin: 0 auto;
    float: none;
}

.unhide{
    display: block;
}

/* END NAVBAR */

/* MAIN */
#wrapper{
    max-width: 1400px;
    margin: 0 auto;
    float:none;
    overflow-y:hidden;
    padding-top: 50px;
}

.missionRow{
    padding: 0;
}
.missionRow::after{
    background-image: url("../img/exterior.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.projectsRow{
    padding: 0;
}
.projectsRow::after{
    background-image: url("../img/window.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.container{
    box-sizing: border-box;
    max width: 500px;
    padding-left: 20%;
    padding-right: 20%;
}
h1{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 60px;
    color: #ffffff;
    display: block;
}
h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    display: block;
}
.donateButton{
    width: 100px;
    height: 50px;
    background-color: #d4d4ff;
    margin: 0 auto;
    border-radius: 5px;
    float: none;
    margin-bottom: 5%;
    transition: 200ms;
}
.donateText{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    position: absolute;
    top: 27%;
}
.donateButton:hover{
    cursor: pointer;
    background-color: #bbbbff;

}
h3{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 45px;
    color: #ffffff;
    display: block;
}
.textBox{
    background-color: #d4d4ff;
    border: 2px solid #c2c5d3;
    border-radius: 1px;
    margin-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
}
h4{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
.subContainer{
    margin-bottom: 15px;
    overflow: hidden;
}
.rowCaptionLeft{
    width: 50%;
    background: #ffffff;
    z-index: 2;
}
.rowPhotoRight{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.rowCaptionRight{
    padding-left: 50%;
    background: #ffffff;
    z-index: 90;
}
.rowPhotoLeft{
    width: 50%;
    position: absolute;
    right: 50%;
    top: 0px;
    height: 100%;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    overflow: hidden;

    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.textContainer{
    padding: 5% 10% 5% 10%;
}
.projectCaption{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #000000;
    display: block;
    font-weight: bold;
}
/* TEXT ROW */
.textRow{
    padding: 0;
    /* background: #ffffff; */
}
.textRow:after{
    background-image: url("../img/downtown-troy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .1;
}
.textRowContainer{
    padding: 3% 15% 3% 15%;
}
.textRowBox{
    background: #e6e6ff;
    padding: 2% 5% 2% 5%;
}
.bigText{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: 0;
}
/* STORIES */

.storiesRow{
    padding: 0;
    overflow: hidden;

}
.storiesRow::after{
    background: #ffffff;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.story{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    border: 2px solid #cccccc;
}
.story:hover{
    cursor: grab;
}
.storyCaptionLeft{
    padding-right: 50%;
    background: #e3ddee;
    font-size: 50px;
}
.storyPhotoRight{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.storyCaption{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 4% 5% 4% 5%;
    line-height: 30px;
}

/* SPACER */
.spacer{
    height: 70px;
}

/* Quilts */

.thirdstshelter{
    padding: 20px 0 0 0;

}

.wrapper1 {
    /* position: relative; */
    width: 100%;
    /* overflow: hidden; */
}

.quiltphoto {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    height: 600px;
    width: 100%;
    background-image: url("../img/016_16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */
}

.quiltphoto>.container {
    padding: 200px 20px;
}

.quiltphoto h1{
    background-color: #b09cd2;
}

.divider {
    /* position: absolute;
    top: 600px;
    bottom: 0;
    left: 0;
    right:0; */
    width: 100%;
    height: 15px;
    background-image: url("../img/quilt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */

}

.quiltstory {

    width: 100%;
    height: 600px;
    background-color: #F5F3F2;
    padding: 5% 10%;
    /* z-index: 100; */
    /* position: absolute;
    top:615px;
    bottom: 0;
    right: 0; */

}

.quiltstory h3 {
    color: #bb97ce;
}

.story{

    font-family: 'Open Sans', sans-serif;
    border: 0px;
}

.quiltphoto2 {

    /* position: absolute;
    top: 1215px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; */
    background-image: url("../img/014_14.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /* z-index: 1; */

}

/* HOUSING PROGRAM */

.housing {
    width: 100%;
}

.housingprogram {
    background-image: url("../img/212-washington.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

.housingprogram .container {
    padding: 200px 20px;
}

.successstory {
    width: 100%;
    height: 600px;
    background-color: #F5F3F2;
    /*padding: 5% 10%;*/
}
.successstory h3 {
    color: #bb97ce;
}







/* FOOTER */

.footer{
    background: #ccccff;
    padding: 10px;
    border-top: 5px #c2c5d3 solid;
}

.footerdiv{
    width: 33.33%;
    padding-left: 30px;
}

.footerdiv ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerdiv li{
    margin: 3px 0 3px 0;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}

.footerdiv li a{
    text-decoration: none;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}

.footerdiv li a:hover{
    color:#808080;
}

.footerdiv p{
    color: #ffffff;
    font-weight: bold;
    margin: 5px 0 5px 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.socialmedia{
    background: #9999ff;
    min-height: 20px;
    margin: 20px 0 20px 0;
    padding: 5px 50px 10px 5px;
}

i{
    padding: 5px;

}

.socialmedia i{
    margin-top: 1px;
}

.socialmedia a{
    float: right;
    text-decoration: none;
    text-align: center;
    color: #e6e6ff;
    font-size: 20px;
    margin: 5px 5px 0 5px;
    border: 2px #e6e6ff solid;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    transition: 100ms;
}

.socialmedia a:hover{
    color: #ffffff;
    border-color: #ffffff;
}

.socialmedia p{
    color: #e6e6ff;
    float: left;
    width: auto;
    margin: 13px 20px 0 50px;
    font-family: 'Nanum Gothic', sans-serif;
}

.emailform, .popupform{
    float: left;
    margin-top: 5px;
}

.emailInput, .popupInput{
    width: 250px;
    height: 30px;
}

.emailButton, .popupButton{
    background: #ccccff;
    color: #000000
    border: none;
    margin-left: 10px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: 150ms;
    font-family: 'Nanum Gothic', sans-serif;
}
.emailButton:hover, .popupButton:hover{
    cursor: pointer;
    background: #b3b3ff;
}


/*  */
/*  */
/*  */
/* About Us Page */
/*  */
/*  */
/*  */

.maincontainer{
    padding: 40px 0;
    font-family: 'Nanum Gothic', sans-serif;
    background: #eee;
    max-width: 1400px;
    margin: 0 auto;
    float: none;
    overflow: hidden;
}

.title, .subtitle, .subsubtitle{
    color: white;
    background: #c7bade;
    padding: 10px 0 10px 0;
}

.title{
    margin-bottom: 15px;
}

#ourmission, #ourhistory, #ourteam, #ourboard, #contact{
    padding-top: 30px;
}


.missionStatement{
    width: 80%;
    margin: 0 auto 20px auto;
    text-align: center;
    background: #d4d4ff;
    color: white;
    border: 2px solid #c2c5d3;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 15px;
    float: none;
}

.subtitle{
    font-size: 35px;
}

.subsubtitle{
    font-size: 25px;
}

.infocontainer{
    width: 80%;
    height: 300px;
    float: none;
    margin: 25px auto 0 auto;
    overflow: hidden;
    padding: 0;
}

.infocontainerimage{
    width: 50%;
    height: 100%;
    margin: 0;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}


.infocontainerimage:hover,
.rowPhotoRight:hover
/* ,.rowPhotoLeft:hover*/{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.rotate90{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.infocontainertext{
    width: 50%;
    height: 100%;
    margin: 0;
    background: white;
    z-index: 2;
    padding: 10px;
}

.infocontainertext p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.infocontainertext ul{
    margin: 0 auto;
    float: none;
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.additionalInfo{
    width: 80%;
    margin: 25px auto 20px auto;
    text-align: center;
    background: #d4d4ff;
    color: white;
    border: 2px solid #c2c5d3;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 15px;
    float: none;
}

#ourhistory{
    padding-bottom: 30px;
}

.history{
    background-image: url("../img/exterior1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    float: none;
    padding: 0;
    color: white;
}

.historyOverlay{
    margin: 0;
    background: black;
    opacity: .8;
    width: 100%;
    height: 100%;
}

.historyText{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 100px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.historyText p{
    margin: 50px auto 0 auto;
    width: 80%;
}

.teammember{
    overflow: hidden;
    width: 90%;
    margin: 0 auto 20px auto;
    float: none;
    background: white;
    min-height: 210px;
    border: 1px grey solid;
}

.teaminfo{
    padding: 0;
    width: 70%;
    margin: 0;
    line-height: 20px;
}

.smallbio{
    padding: 0 15px 0 15px;
}

.imagecontainer{
    width: 30%;
    height: 100%;//210px;
    padding: 0;
}

.imageOverlay{
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    opacity: .7;

    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
.teammember img{
    display: block;
    float: none;
    margin: 0 auto;
    width: 200px;
    height: 100%;
}

.name{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background: #7f609e;
    color: white;
    text-align: center;
    border-bottom: 3px #f98604 solid;
}

.boardmember{
    width: 48%;
    margin: 1%;
}

.bio{
    padding: 20px;
    background: white;
    min-height: 270px;
    margin-top: 0;
    line-height: 20px;
}

.hide{
    display: none;
}

.newMenuPosition{
    position: absolute;
    top: 54px;
    right: -150px;
    width: 50%;
    max-width: 150px;
    background: #7f609e;

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.contactinfo{
    text-align: center;
    margin: 10px auto 10px auto;
    max-width: 500px;
    float: none;
}

.slideLeft{
    transform: translateX(-150px);
}

.newMenuWidth{
    width: 100%;
    float: left;
    border-bottom: 2px #ccc solid;
    padding: 0 0 5px 20px;
}

.newMenuWidth p{
    float: left;
    text-align: left;
}

.newMenuWidth .secondary-menu{
    top: 0px;
    left: -145px;
}

/*  */
/*  */
/*  */
/* BLOG */
/*  */
/*  */
/*  */
.blogDescription{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding : 0 15px 15px 15px;
}

#blogLogo{
    height: 20%;
    width:20%;
    margin: 0 auto;
    display: block;
}
.blogLinks{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    /* padding : 0 42% 0 43%; */
    float: none;
    font-weight: bold;
    overflow: hidden;
}
.blogPostsLink{
    float: left;
    padding: 0 10px 0 0;
    width: calc(50% - 10px);
    text-align: right;
    transition: 100ms;

}
.blogPostsLink:hover{
    cursor: pointer;
    color: #717171;

}
.blogArticlesLink{
    float: right;
    padding: 0 0 0 10px;
    width: calc(50% - 10px);
    text-align: left;
    transition: 100ms;
}
.blogArticlesLink:hover{
    cursor: pointer;
    color: #717171;
}
.blogPostContainer{
    box-sizing: border-box;
    max width: 500px;
    padding-left: 20%;
    padding-right: 20%;
}
.blogPost{
    border: 1px solid #c2c5d3;
    padding-bottom: 35px;
    padding-top: 35px;
    margin: 45px 0 45px 0;

}
.blogPostDate{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    float: none;
    font-weight: bold;
    padding-left: 7%;
}
.blogPostTitle{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    float: none;
    padding-left: 7%;
}
.blogPostPhoto{
    height: 85%;
    width: 85%;
    margin: 0 auto;
    display: block;
}
.blogPostText{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding : 15px;
    float: none;
}
/*  */
/*  */
/*  */
/* ARTICLES */
/*  */
/*  */
/*  */
.articlePostContainer{
    box-sizing: border-box;
    max width: 500px;
    padding-left: 20%;
    padding-right: 20%;
    display: none;
}
.articlePost{
    border: 1px solid #c2c5d3;
    padding-bottom: 35px;
    padding-top: 35px;
    margin: 45px 0 45px 0;
}
.articlePostDate{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    float: none;
    font-weight: bold;
    padding-left: 57%;
}
.articlePostTitle{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    float: none;
    padding-left: 57%;
}
.articlePostPhoto{
    width: 50%;
    position: absolute;
    right: 50%;
    top: 0px;
    height: 100%;
    z-index: 100;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.articlePostText{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding : 15px;
    float: none;
    padding-Left: 57%;
    background: #ffffff;
    z-index: 90;
}

.selected{
    color: #717171;
}

/*  */
/*  */
/*  */
/* GET INVOLVED */
/*  */
/*  */
/*  */

.getInvolvedHeader{
    padding: 100px 0 100px 0;
}
.getInvolvedHeader::after{
    background-image: url("../img/outsideEvening.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.getInvolvedVolunteerRow{
    padding: 0;
    background:#d8c7f9;
}
.getInvolvedTitle{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 45px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}
.getInvolvedSubTitle{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    color: #000000;
    display: block;
    font-weight: bold;
}
.getInvolvedDescription{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}
.getInvolvedBODRow{
    padding: 10px 0 0 0;
    background:#d7cee2;
}
.getInvolvedEventsRow{
    padding: 10px 0 0 0;
    background:#ccccff;
}
.getInvolvedEventContainer{
    box-sizing: border-box;
    max width: 500px;
    padding-left: 20%;
    padding-right: 20%;
}
.getInvolvedEvent{
    border: 1px solid #c2c5d3;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px 0 5px 0;
    background: #ffffff;
}
.getInvolvedEventDate{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    float: none;
    font-weight: bold;
    padding-left: 57%;
}
.getInvolvedEventTitle{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    float: none;
    padding-left: 57%;
    margin: 3px 0 3px 0;
}
.getInvolvedEventPhoto{
    width: 50%;
    position: absolute;
    right: 50%;
    top: 0px;
    height: 100%;
    z-index: 100;
    background-image: url("../img/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.getInvolvedEventText{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding : 15px;
    float: none;
    padding-Left: 57%;
    z-index: 90;
    margin: 3px 0 3px 0;
}
.getInvolvedEventLocation{
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    float: none;
    padding-Left: 57%;
    z-index: 90;
    font-weight: bold;
    font-style: italic;
    margin: 3px 0 3px 0;
}
.getInvolvedEmploymentRow{
    padding: 10px 0 0 0;
    background:#ffffff;
}
.getInvolvedEmploymentTitle{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 45px;
    color: #000000;
    display: block;
    font-weight: bold;
}
.getInvolvedEmploymentDescription{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    display: block;
    font-weight: bold;
}
.getInvolvedJobList{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    display: block;
    font-weight: bold;
    font-style: italic;
    list-style: none;
}
.getInvolvedJob{
    margin: 3px 0 3px 0;
    padding-right: 35px;
}

/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/*  */
/*  */
/*  */

@media (max-width: 600px){
    .maincontainer{
        padding: 20px 0 0 0;
    }

    .popupform, .emailform{
        width: 100%;
    }

    .popupInput, .popupButton{
        width: 90%;
    }

    .popupButton{
        margin: 5px 0 0 0;
    }

    .socialmedia{
        width: 100%;
        padding: 10px;
    }

    .footerdiv{
        width: 100%;
    }

    .socialmedia p{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .footerdiv{
        padding-left: 0;
        text-align: center;
        margin: 10px 0 0 0;
    }

    .emailInput{
        margin: 0 5% 2px 5%;
        width: 90%;
        float: none;
    }

    .emailButton{
        width: 91%;
        margin: 0 5% 2px 5%;
        float: none;
    }

    .storyCaption{
        font-size: 12px;
    }

    .missionStatement, .additionalInfo, .infocontainer, .infocontainerimage, .infocontainertext{
        width: 100%;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .rowCaptionLeft{
        padding-right: 0;
        width: 100%;
    }

    .rowCaptionRight{
        padding-left: 0;
    }

    .rowPhotoRight{
        position: relative;
        min-height: 210px;
        width: 100%;
        left: 0;
    }

    .rowPhotoLeft{
        position: relative;
        min-height: 210px;
        width: 100%;
        right: 0;
    }

    .blogPostContainer, .articlePostContainer{
        padding-left: 1%;
        padding-right: 1%;
    }

    .textRowContainer{
        padding: 3% 0 3% 0;
    }

    .infocontainer{
        height: auto;
    }

    .infocontainerimage{
        height: 100vw;
    }

    .history{
        width: 100%;
    }

    .historyText{
        margin: 0;
        padding: 0 5px 0 5px;
    }

    .historyText p{
        width: 100%;
        font-size: 14px;
        margin: 15px auto 0 auto;
    }

    .teammember, .boardmember{
        width: 100%;
        max-width: 1000px;
        margin: 5px auto 5px auto;
    }

    .smallbio{
        padding: 10px;
    }

    .imagecontainer{
        width: 100%;
        height: auto;
    }

    .teaminfo{
        padding: 0;
        width: 100%;
        margin: 5px 0 0 0;
    }

    .boardmember, .bio{
        min-height: auto;
    }

    .getInvolvedEventContainer{
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    .missionStatement, .infocontainer, .additionalInfo, .history{
        width: 95%;
    }

    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .textRowContainer{
        padding: 3%;
    }

    .historyText{
        padding: 10px;
        margin: 0;
    }

    .historyText p{
        width: 100%;
    }

    .teammember, .boardmember{
        width: 90%;
        margin: 5px auto;
        float: none;
    }
    .imagecontainer{
        width: 100%;
        height: auto;
    }

    .teaminfo{
        padding: 0;
        width: 100%;
        margin: 5px 0 0 0;
    }

    .smallbio{
        padding: 10px;
    }

    .bio{
        min-height: auto;
    }

    .getInvolvedEventContainer,
    .blogPostContainer,
    .articlePostContainer{
        padding-left: 5%;
        padding-right: 5%;
    }

    .socialmedia{
        width: 100%;
        padding: 10px;
    }

    .socialmedia p{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .emailInput, .emailform{
        margin: 0 5% 2px 5%;
        width: 90%;
    }

    .emailButton{
        margin: 0 5% 2px 5%;
        width: 91%;
    }

    .footerdiv{
        padding-left: 0;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .historyText, .historyText p{
        width: 100%;
        margin-top: 10px;
    }

    .getInvolvedEventContainer,
    .articlePostContainer{
        padding-left: 10%;
        padding-right: 10%;
    }

    .socialmedia p{
        margin: 13px 10px 0 10px;
    }

    .bio{
        height: 420px;
    }

    .smallbio{
        padding: 10px;
    }
}
@media(min-width: 877px){
    .navOption:hover + .secondary-menu{
        height: 170px;
    }
}
